body {
  font-family: Arial, sans-serif;
}

.container {
   height: 90vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.imagem {
   max-width: 20%;
}

.texto {
   font-size: 24px;
   text-align: center;
   margin-top: 20px;
}


