body {
  font-family: Arial, sans-serif;
  background-color: #044c8c;
}

.apresentacao {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

/* Reset os padrões*/
*{
    margin: 0;
    padding: 0;
}

.imagem {
   max-width: 30%;
}

.texto {
   font-size: 28px;
   text-align: center;
   margin-top: 20px;
}


