body {
  font-family: Arial, sans-serif;
  background-color: #044c8c;
}

.apresentacao {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.container {
  
  padding: 20px;
  margin: 30px;
  justify-content: center;
  flex-direction: column;
}

.imagem {
   max-width: 30%;
}

.texto {
   font-size: 28px;
   text-align: center;
   margin-top: 20px;
}


