@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
 /* Reset os padrões*/
 *{
   margin: 0;
   padding: 0;
}

body {
   box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #044c8c;
  }
  
  .apresentacao {
   width: 80%;
   margin: 0 auto;
   min-height: 100vh;
   height: auto;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
  }

  .apresentacao_container{
   width: 100vh;
   display: flex;
   background-color: #ffffff;
   padding: 20px;
   border-radius: 50px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }

  .apresentacao_container_titulo{
   padding: 30px;
   font-size: 28px;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
  }
  
   
  .imagem {
     max-width: 120px;
  }
  
  